.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #203040;
  .title {
    font-size: 10rem;
  }

  a:hover {
    color: goldenrod;
  }
}
