@media (min-width: 950px) {
  .carousel_images {
    width: calc(50vw - 5rem) !important;
  }
}

.carousel_container {
  margin: 20px;
}

.selected_image {
  width: 100%;
  height: 18rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
  position: relative;
  margin-top: 1rem;
}

.carousel_images {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 6rem);
  overflow-x: overlay;
}

.carousel_image_selected,
.carousel_dot_selected {
  border: 3px solid #ffa700 !important;
}

.carousel_image {
  margin-right: 10px;
  height: 100px;
  min-width: 100px;
  border: 3px solid #ffa70000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel_button {
  position: absolute;
  top: 40%;
}

.carousel_button_left {
  left: 10px;
  width: 1.5rem;
  border: 0;
  background: transparent;
  color: goldenrod;
}

.carousel_button_right {
  right: 10px;
  width: 1.5rem;
  border: 0;
  background: transparent;
  color: goldenrod;
}

.carousel_auto_container {
  margin: unset;
}

.dot_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 0;
  bottom: 1.5rem;
}

.carousel_dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin-right: 0.625rem;
  background-color: rgb(245, 245, 245, 0.5);
  border-color: whitesmoke;
  border-radius: 50%;
}

.carousel_auto_button {
  position: absolute;
  bottom: 6rem;
}
