.dropdown_container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 0.5rem;
}

.dropdown_input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  min-width: 8rem;
}

.dropdown_menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  z-index: 1;
  background-color: white;
}

.dropdown_item {
  padding: 5px;
  cursor: pointer;
}

.dropdown_item:hover {
  background-color: #9fc3f870;
}

.dropdown_item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown_tag_item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.dropdown_tag_close {
  display: flex;
  align-items: center;
}

.search_box {
  padding: 5px;
  background-color: #eee;
}

.search_box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
